<div>
    <h2>
        <span>Menus</span>
        <button class="btn btn-primary float-right jh-create-entity create-menu" [routerLink]="['/', { outlets: { popup: ['menu-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Menu
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="menus">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Code</span></th>
            <th><span>Title</span></th>
            <th><span>Parent</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let menu of menus ;trackBy: trackId">
                <td><a [routerLink]="['../menu', menu.id ]">{{menu.id}}</a></td>
                <td>{{menu.code}}</td>
                <td>{{menu.title}}</td>
                <td>
                    <div *ngIf="menu.parentId">
                        <a [routerLink]="['../menu', menu.parentId  ]" >{{menu.parentId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../menu', menu.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'menu/'+ menu.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'menu/'+ menu.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
