<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myTaskLabel">Create or edit a Task</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!task.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="task.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_title">Title</label>
            <input type="text" class="form-control" name="title" id="field_title"
                [(ngModel)]="task.title" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_beginDate">Begin Date</label>
            <div class="input-group">
                <input id="field_beginDate" type="text" class="form-control" name="beginDate" ngbDatepicker  #beginDateDp="ngbDatepicker" [(ngModel)]="task.beginDate"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-secondary" (click)="beginDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_endDate">End Date</label>
            <div class="input-group">
                <input id="field_endDate" type="text" class="form-control" name="endDate" ngbDatepicker  #endDateDp="ngbDatepicker" [(ngModel)]="task.endDate"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-secondary" (click)="endDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_comment">Comment</label>
            <input type="text" class="form-control" name="comment" id="field_comment"
                [(ngModel)]="task.comment" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_type">Type</label>
            <select class="form-control" name="type" [(ngModel)]="task.type" id="field_type" >
                <option value="CALL">CALL</option>
                <option value="MEETING">MEETING</option>
                <option value="EMAIL">EMAIL</option>
            </select>
        </div>

        <div class="form-group">
            <label class="form-control-label" for="field_manager">Manager</label>
            <select class="form-control" id="field_manager" name="manager" [(ngModel)]="task.managerId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="managerOption.id" *ngFor="let managerOption of managers; trackBy: trackManagerById">{{managerOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
