
<div *ngIf="task">
    <h2><span>Task</span> {{task.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Title</span></dt>
        <dd>
            <span>{{task.title}}</span>
        </dd>
        <dt><span>Begin Date</span></dt>
        <dd>
            <span>{{task.beginDate | date:'medium'}}</span>
        </dd>
        <dt><span>End Date</span></dt>
        <dd>
            <span>{{task.endDate | date:'medium'}}</span>
        </dd>
        <dt><span>Comment</span></dt>
        <dd>
            <span>{{task.comment}}</span>
        </dd>
        <dt><span>Type</span></dt>
        <dd>
            <span>{{task.type}}</span>
        </dd>
        <dt><span>Customer</span></dt>
        <dd>
            <div *ngIf="task.customerId">
                <a [routerLink]="['/customer', task.customerId]">{{task.customerId}}</a>
            </div>
        </dd>
        <dt><span>Manager</span></dt>
        <dd>
            <div *ngIf="task.managerId">
                <a [routerLink]="['/manager', task.managerId]">{{task.managerId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'task/'+ task.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
