<div>
    <h2>
        <span>Tasks</span>
        <button class="btn btn-primary float-right jh-create-entity create-task" [routerLink]="['/', { outlets: { popup: ['task-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Task
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="tasks">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Title</span></th>
            <th><span>Begin Date</span></th>
            <th><span>End Date</span></th>
            <th><span>Comment</span></th>
            <th><span>Type</span></th>
            <th><span>Manager</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let task of tasks ;trackBy: trackId">
                <td><a [routerLink]="['../task', task.id ]">{{task.id}}</a></td>
                <td>{{task.title}}</td>
                <td>{{task.beginDate | date:'mediumDate'}}</td>
                <td>{{task.endDate | date:'mediumDate'}}</td>
                <td>{{task.comment}}</td>
                <td>{{task.type}}</td>
                <td>
                    <div *ngIf="task.managerId">
                        <a [routerLink]="['../manager', task.managerId  ]" >{{task.managerId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../task', task.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'task/'+ task.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'task/'+ task.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
