
<div *ngIf="customer">
    <h2><span>Customer</span> {{customer.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Fullname</span></dt>
        <dd>
            <span>{{customer.fullname}}</span>
        </dd>
        <dt><span>Phone Number</span></dt>
        <dd>
            <span>{{customer.phoneNumber}}</span>
        </dd>
        <dt><span>Email</span></dt>
        <dd>
            <span>{{customer.email}}</span>
        </dd>
        <dt><span>Fax</span></dt>
        <dd>
            <span>{{customer.fax}}</span>
        </dd>
        <dt><span>Source</span></dt>
        <dd>
            <span>{{customer.source}}</span>
        </dd>
        <dt><span>Comment</span></dt>
        <dd>
            <span>{{customer.comment}}</span>
        </dd>
        <dt><span>Type</span></dt>
        <dd>
            <div *ngIf="customer.type">
                <a [routerLink]="['/customer-type', customer.type?.id]">{{customer.type?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'customer/'+ customer.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
