
<div *ngIf="employee">
    <h2><span>Employee</span> {{employee.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>First Name</span></dt>
        <dd>
            <span>{{employee.firstName}}</span>
        </dd>
        <dt><span>Last Name</span></dt>
        <dd>
            <span>{{employee.lastName}}</span>
        </dd>
        <dt><span>Second Name</span></dt>
        <dd>
            <span>{{employee.secondName}}</span>
        </dd>
        <dt><span>Full Name</span></dt>
        <dd>
            <span>{{employee.fullName}}</span>
        </dd>
        <dt><span>Position</span></dt>
        <dd>
            <span>{{employee.position}}</span>
        </dd>
        <dt><span>Department</span></dt>
        <dd>
            <div *ngIf="employee.departmentId">
                <a [routerLink]="['/department', employee.departmentId]">{{employee.departmentId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'employee/'+ employee.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
